.performanceContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.performanceContent {
  width: 750px;
  margin-top: 2rem;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.3rem;

  .buttonCorBlue {
    width: 160px;
    height: 36px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0.85rem;
    background: #0a2463;
    border-radius: 50px;
    border: none;
    color: var(--white);
    margin-right: 2rem;

    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 97.7%;
    text-align: center;
    letter-spacing: -0.02em;
  }

  button {
    width: 160px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.85rem;
    background: rgba(64, 75, 101, 0.1);
    border-radius: 50px;
    border: none;
    color: #0a2463;

    p {
      margin-right: 1rem;

      font-family: Sora;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 97.7%;
      text-align: center;
      letter-spacing: -0.02em;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.rechartsContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}

.areaChart {
  width: 450px;
  height: 280px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #ffffff;

  border: 1px solid #ebecf2;
  border-radius: 10px;
  margin-right: 1rem;
}

.areaChartLinear {
  width: 265px;
  height: 244px;
  background: #e5e5e5;
}

.areaChartInfo {
  margin-left: 0.8rem;
}
sc .InfoHeader {
  h1 {
    font-family: Sora;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 97.7%;

    color: #0a2463;
  }
  p {
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 18px;

    color: #0a2463;
  }
}

.InfoFooter {
  margin-top: 7rem;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    p {
      margin-right: 0.2rem;
      font-family: Sora;
      font-style: normal;
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 97.7%;

      letter-spacing: -0.03em;

      color: #0a2463;
    }
    span {
      font-family: Sora;
      font-style: normal;
      font-weight: normal;
      font-size: 0.8rem;
      line-height: 97.7%;

      color: rgba(64, 75, 101, 0.7);
    }
    svg {
      margin-right: 0.2rem;
      width: 25px;
      height: 25px;
      color: #0a2463;
    }
  }
}

.linearChart {
  width: 330px;
  height: 280px;

  background: #ffffff;

  border: 1px solid #ebecf2;
  border-radius: 10px;
}

.progressContainer {
  padding: 1.8rem 0 0 0;

  display: flex;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-family: Sora;
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 97.7%;

      color: #0a2463;
    }
    span {
      margin-left: 0.5rem;

      font-family: Sora;
      font-style: normal;
      // font-weight: normal;
      font-size: 1rem;
      line-height: 97.7%;

      color: rgba(64, 75, 101, 0.7);
    }
  }
}

.progress_Content {
  width: 180px;
  border-radius: 40px;
  height: 22px;
  background: black;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-right: 1rem;
}

.progress_won {
  width: 60%;
  height: 25px;
  background: #27ae60;
  border-radius: 40px 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 97.7%;

    color: #ffffff;
  }
}

.progress_lose {
  flex: 1;
  height: 25px;
  background: #fb3640;
  border-radius: 0px 40px 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-family: Sora;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 97.7%;

    color: #ffffff;
  }
}
