.postsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 100%;
    max-width: 750px;
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 0.85rem;
    background: var(--white);
    border-radius: 10px;
    border: none;
    color: rgba(64, 75, 101, 0.7);
    margin-bottom: 1rem;
    svg {
      width: 16px;
      height: 20px;
    }
    span {
      margin-left: 1rem;
      font-family: Roboto;
      font-weight: normal;
      font-size: 1rem;
      line-height: 127.7%;

      color: rgba(64, 75, 101, 0.7);
    }
  }

  @media only screen and (max-width: 600px) {
    button {
      width: 320px;
      height: 36px;
    }
  }
}

.wrapper {
  width: 650px;
  height: 609px;
  padding: 30px 20px;
  background: var(--white);
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    max-width: 320px;
    height: 419px;
  }
}

@media only screen and (width: 320px) {
  .postsContainer {
    padding: 0 20px 0 20px;

    button {
      width: 300px;
    }
  }
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  div {
    svg {
      width: 22px;
      height: 22px;
      margin-right: 0.4rem;
      color: rgba(64, 75, 101, 0.7);
    }
  }

  .userInformation {
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 1rem;

    .info {
      margin-left: 1rem;

      p {
        font-family: Sora;
        font-style: normal;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 97.7%;
        letter-spacing: -0.03em;
        color: #0a2463;
      }
      span {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 0.9rem;
        line-height: 97.7%;
        color: rgba(64, 75, 101, 0.7);
      }
    }
  }
}

.sectionInfo {
  margin-bottom: 0.8rem;

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 127.7%;
    color: #2d2a32;
    margin-bottom: 1rem;
  }
}

.footerInfo {
  display: flex;

  .bxsHeart {
    margin: 0 0.4rem 0 0;
    svg {
      width: 22px;
      height: 22px;
    }
  }
  .bxsShare {
    margin: 0 0.4rem 0 0;
    svg {
      cursor: pointer;
      width: 22px;
      height: 22px;
    }
  }
  .bxsComment {
    margin: 0 0.4rem 0 0;
    svg {
      cursor: pointer;
      width: 22px;
      height: 22px;
    }
  }
  div {
    display: flex;
    flex-direction: column;

    span {
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 97.7%;
      color: rgba(64, 75, 101, 0.7);
    }

    span:nth-child(1) {
      margin-bottom: 0.2rem;
    }
  }
}
