.internalContainer {
  width: 100%;
  h1 {
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 97.7%;

    letter-spacing: -0.03em;

    color: #0a2463;
    text-align: center;
    transform: translateX(-92px);
    margin-bottom: 1rem;
  }
}

.headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.title {
  display: flex;
  transform: translateX(-326px);
  margin-bottom: 1rem;
}

.btnStarting {
  margin-right: 1.6rem;
  width: 100%;
  max-width: 84px;
  height: 28px;
  background: rgba(33, 116, 238, 0.2);
  border-radius: 10px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 148.3%;

  color: #2174ee;
}

.btnUser {
  width: 150px;
  height: 28px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 0.5rem 0 0.5rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 148.3%;

  color: #2174ee;

  background: none;

  border-radius: 10px;
  border: 1px solid #2174ee;
}

.internalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: 100%;
  max-width: 940px;
  height: 46px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  margin-bottom: 1.8rem;
  li {
    list-style: none;
    cursor: pointer;
    a {
      font-family: Sora;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 97.7%;

      letter-spacing: -0.03em;

      color: #0a2463;

      &:hover {
        color: #2174ee;
      }
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 750px;
  height: 452px;
  background: var(--white);

  border: 1px solid #ebecf2;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.wrapperContainer {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1rem;
}

.wrapperInfo {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  button {
    width: 100%;
    max-width: 155px;
    height: 37;
    padding: 5px 20px;
    background: #2174ee;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 148.3%;

    text-align: center;

    color: #ffffff;

    border-radius: 50px;
    border: none;
  }
  p {
    margin-left: 1.2rem;
  }
}

.tableContainer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.6rem;
}

.tableContent1 {
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 1.3rem;
  }

  table {
    width: 370px;
    height: 220px;
    border-collapse: collapse;
    td {
      padding: 0 0 0 0.6rem;
    }
  }
  table,
  td,
  th {
    border: 1.15789px solid rgba(64, 75, 101, 0.7);
    border-radius: 5px;
  }
}

.tableContent2 {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.headerContent {
  margin-top: 0.3rem;
  h2 {
    margin-bottom: 1.3rem;
  }
  p {
    margin-bottom: 0.6rem;
  }
  span {
    margin-bottom: 1.6rem;
  }
}

.footerContent {
  margin-top: 2.1rem;
}

.btnFooter {
  width: 100%;
  max-width: 287px;
  height: 52px;
  background: #2174ee;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Sora;
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 97.7%;

  letter-spacing: -0.02em;

  color: #ffffff;

  border-radius: 50px;
  border: none;
}
