.setionContainer {
  position: absolute;
  right: 0;
  top: 0;

  // left: min(100vw, 1438px);

  div {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 200px;
  }
}

@media screen and (max-device-width: 640px), screen and (max-width: 640px) {
  .setionContainer {
    display: none;
  }
}
