.internalContainer {
  width: 100%;
}

.infoHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-200px);
  margin-bottom: 1.2rem;

  h1 {
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 97.7%;

    letter-spacing: -0.03em;

    color: #0a2463;
    text-align: center;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
}

.headerInfo {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.title {
  display: flex;
  transform: translateX(-326px);
  margin-bottom: 1rem;
}

.btnStarting {
  margin-right: 1.6rem;
  width: 100%;
  max-width: 84px;
  height: 28px;
  background: rgba(33, 116, 238, 0.2);
  border-radius: 10px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 148.3%;

  color: #2174ee;
}

.btnUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 28px;

  padding: 0 0.5rem 0 0.5rem;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 148.3%;

  color: #2174ee;

  background: none;

  border-radius: 10px;
  border: 1px solid #2174ee;
}

.internalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: 100%;
  max-width: 940px;
  height: 46px;

  display: flex;
  justify-content: start;
  align-items: center;
  background: var(--white);
  border-radius: 10px;
  margin-bottom: 1rem;
  p {
    margin-left: 1.5rem;
  }
}

.footerContainer {
  transform: translateX(-110px);
  margin-bottom: 1rem;
  > p {
    margin-bottom: 0.6rem;

    font-family: Roboto;
    font-style: normal;
    // font-weight: 500;
    font-size: 1rem;
    line-height: 148.3%;

    color: #0a2463;
  }
}

.footerContent {
  display: flex;
  p {
    margin-right: 1.5rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 148.3%;

    color: rgba(64, 75, 101, 0.7);
  }
  div {
    display: flex;
    margin-right: 1.5rem;
    span {
      margin-left: 0.5rem;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 148.3%;

      color: rgba(64, 75, 101, 0.7);
    }
    svg {
      color: rgba(64, 75, 101, 0.7);
    }
  }
}

.searchcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  .divBuscar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 320px;
    height: 46px;
    background: transparent;
    background: var(--white);

    border-radius: 10px;
    border: 1px solid #ebecf2;
    padding: 0 0 0 1rem;

    svg {
      width: 15px;
      height: 15px;
      margin-right: 1rem;
    }

    input {
      width: 100%;
      max-width: 320px;
      height: 46px;

      background: none;
      border: none;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 97.7%;

      color: rgba(64, 75, 101, 0.7);
    }
  }
}

.selectButton {
  width: 100%;
  max-width: 320px;
  height: 46px;
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem 0 1.5rem;
  border-radius: 10px;
  margin-right: 2rem;

  span {
    font-family: Roboto;
    font-style: normal;
    font-size: 1rem;
    line-height: 97.7%;

    color: rgba(64, 75, 101, 0.7);
  }
}

.wrapper {
  width: 100%;
  max-width: 542px;
  background: var(--white);
  border: 1px solid #ebecf2;
  box-sizing: border-box;
  border-radius: 10px;
}

.wrapperContent {
  padding: 2rem 0 2rem 2rem;
  div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    p {
      margin-left: 0.6rem;
    }
  }
}

.userInfo {
  div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    span {
      margin-right: 1rem;

      font-family: Roboto;
      font-style: normal;
      font-size: 14px;
      line-height: 148.3%;

      color: #0a2463;
    }

    p {
      margin-left: 1rem;

      font-family: Roboto;
      font-style: normal;
      // font-weight: 500;
      font-size: 1rem;
      line-height: 148.3%;

      color: #2d2a32;
    }
  }
}
