.headerContainer {
  width: 100%;
  position: fixed;
  z-index: 40;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  background: var(--white);

  .headerContent {
    width: 96%;
    max-width: 1438px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;

  p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    color: #1f1f1f;
  }

  span {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;

    color: #7e899a;
  }

  .image {
    margin-left: 1rem;
  }
}
