.containerLayout {
  // display: flex;
  // align-items: center;

  > main {
    position: relative;
    margin: auto;
    margin-top: calc(127px + 60px);
    // background: aqua;
    width: 96%;
    max-width: 1558px;
    height: 100vh;
  }
}
