.cardsContainer {
  // width: 600px;

  h2 {
    margin-bottom: 2.5rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    color: var(--text-button);
  }

  .cardsContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 20px;

    .card {
      width: 350px;
      height: 160px;
      display: flex;
      align-items: center;
      background: var(--white);
      padding: 1rem 1rem;
      border-radius: 15px;

      & {
        cursor: pointer;
      }

      img {
        width: 100%;
        height: 100%;
      }

      p {
        margin-left: 1rem;
        font-family: Sora;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: var(--text-button);
        line-height: 25px;
      }
    }
  }
}
