.sidebarMenu {
  position: fixed;
}
@media screen and (max-device-width: 640px), screen and (max-width: 640px) {
  .sidebarMenu {
    display: none;
  }
}

.toogleMenu {
  width: 70px;
  height: 32px;
  text-align: center;
  margin-bottom: 0.1rem;
  background: var(--white);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  svg {
    width: 28px;
    height: 28px;
    color: #0a2463;
  }
}

.mainMenu {
  width: 190px;
  height: 278px;
  padding: 1.5rem 1rem;
  margin-bottom: 1.6rem;
  background: var(--white);
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  ul li {
    list-style: none;
  }
}

.activemain {
  width: 70px;
  height: 278px;
  span {
    display: none;
  }
}

.menuItem {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  color: #0a2463;

  span {
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 97.7%;
    letter-spacing: -0.03em;
  }

  &:hover {
    color: #ddd92a;
    cursor: pointer;
  }

  div {
    margin-right: 0.6rem;
    svg {
      width: 28px;
      height: 28px;
    }
  }
}

.footerMenu {
  width: 190px;
  height: 120px;
  background: var(--white);
  padding: 1.5rem 1rem;
  // margin-bottom: 2rem;
  border-radius: 10px;
  .menuItem {
    div {
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
  ul li {
    list-style: none;
  }
}

.activefooter {
  width: 70px;
  height: 120px;
  span {
    display: none;
  }
}
