.performanceContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.performanceContent {
  width: 750px;
  margin-top: 1.4rem;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  .buttonCorBlue {
    width: 100px;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0.85rem;
    background: #0a2463;
    border-radius: 50px;
    border: none;
    color: var(--white);
    margin-right: 2rem;

    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 97.7%;
    text-align: center;
    letter-spacing: -0.02em;
  }

  button {
    width: 184px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.85rem;
    background: rgba(64, 75, 101, 0.1);
    border-radius: 50px;
    border: none;
    color: #0a2463;
    font-size: 0.9rem;
  }

  .postagens {
    margin-left: 2rem;
  }
}

.infoContainer {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 140%;

    color: rgba(64, 75, 101, 0.7);
  }
}

.infoBox {
  position: relative;
  width: 724px;
  height: 409px;
  background: var(--white);
  border-radius: 10px;
  padding: 1.5rem 1.5rem;
  margin-top: 1rem;
  &::before {
    position: absolute;
    content: "";
    width: 52;
    height: 52px;
    border-radius: 50%;

    background: #0a2463;
  }
}

// .divDetail {
//   position: absolute;
//   width: 52;
//   height: 52px;
//   background: #0a2463;
//   border-radius: 50%;
//   top: -300;
//   // left: 0;
//   // right: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   p {
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 0.9rem;
//     line-height: 148.3%;

//     color: #ffffff;
//   }
// }

.infoContent {
  > div {
    margin-bottom: 1rem;
    p {
      font-family: Sora;
      font-style: normal;
      font-weight: 600;
      font-size: 0.9rem;
      line-height: 97.7%;
      letter-spacing: -0.03em;
      color: #0a2463;
    }
    > span {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 0.8rem;
      line-height: 97.7%;

      color: rgba(64, 75, 101, 0.7);
    }
  }
}
.infoUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    > p {
      font-family: Sora;
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 97.7%;

      letter-spacing: -0.03em;

      color: #0a2463;
    }
    span {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 0.9rem;
      line-height: 97.7%;

      color: rgba(64, 75, 101, 0.7);
    }
  }
}

.divUser {
  span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 97.7%;

    color: rgba(64, 75, 101, 0.7);
  }
  svg {
    margin-right: 0.5rem;
    color: rgba(64, 75, 101, 0.7);
  }
}

.setsContainer {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}

.areaChartLinear {
  width: 676px;
  height: 244px;
  background: #e5e5e5;
}

.setsContent {
  display: flex;
  justify-content: stretch;
  align-items: center;
  div {
    margin-top: 1rem;
    margin-right: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 97.7%;

      color: #0a2463;
    }

    span {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 0.9rem;
      line-height: 127.7%;

      color: rgba(64, 75, 101, 0.7);
    }
  }
}
