.cadastroContainer {
  width: max-content;
  padding: 2rem 3.4rem;

  background: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;

  h2 {
    margin-bottom: 1rem;
    font-family: Sora;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 97.7%;

    letter-spacing: -0.03em;
    color: var(--text-button);
  }

  > p {
    font-family: Sora;
    font-size: 0.8rem;
    line-height: 97.7%;

    letter-spacing: -0.03em;

    color: #2d2a32;
    margin-bottom: 0.8rem;
  }

  @media screen and (max-device-width: 640px), screen and (max-width: 640px) {
    .cadastroContainer {
      width: 100%;
      padding: 6rem 2rem 0 2rem;
      justify-content: center;
      align-items: center;
    }
  }

  .emptyFacebook {
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-register-facebook);
    border-radius: 86px;
    border: none;
    cursor: pointer;
    margin-bottom: 0.625rem;
    svg {
      color: var(--white);
    }
    p {
      margin-left: 0.6rem;
      color: var(--white);
      font-weight: 600;
      font-family: Sora;
      font-size: 0.6rem;
      line-height: 97.7%;

      letter-spacing: -0.03em;
    }
  }

  .emptyGoogle {
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background: var(--button-register-google);
    border-radius: 86px;
    border: none;
    cursor: pointer;
    margin-bottom: 0.8rem;
    p {
      margin-left: 0.6rem;
      font-family: Sora;
      font-weight: 600;
      font-size: 0.6rem;
      line-height: 97.7%;

      letter-spacing: -0.03em;

      color: #0a2463;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 240px;
      height: 40px;
      padding: 0 0.85rem;
      background: var(--button-register-google);
      border-radius: 10px;
      margin-bottom: 0.9rem;
      font-family: Roboto;
      font-size: 0.8rem;
      line-height: 127.7%;

      color: rgba(64, 75, 101, 0.7);

      border: none;
    }
    .emptyEmail {
      margin-bottom: 0.9rem;
    }

    button {
      width: 240px;
      height: 37px;
      padding: 0 0.85rem;
      background: var(--button-register);
      border-radius: 50px;
      border: none;
      font-family: Sora;
      font-style: normal;
      font-weight: 600;
      font-size: 0.9rem;
      line-height: 97.7%;

      letter-spacing: -0.03em;
      color: var(--text-button);
    }
  }
}

@media only screen and (min-width: 640px) {
}
